@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body{font-family:'Microsoft YaHei';padding-right:40%;padding-left:10px;}
        h4{font-weight:normal;padding-left:20px;}
        h5{padding-left:20px;}
        ul,li{list-style:none;padding-left:0;margin-left:0;}
        .leftline{border-left:5px solid #CCC;padding-left: 15px;}
    </style>
</head>
<body>
    <div>
        <h1>林仙茂</h1>
        <p>(+86)15913196613</p>
        <p>xianmaulin@gmail.com</p>
        <p><a href="http://xianmau.me" target="_blank">http://xianmau.me</a></p>

        <p>&nbsp;</p>

        <h3>教育及工作背景</h3>
        <ul>
            <li><h4>2014-03至今，广州欢聚时代信息科技有限公司，欢聚云事业部，后台研发</h4></li>
            <li><h4>2013-03至2015-06，广州迅睿网络科技有限公司，联合创始人 & 技术负责人</h4></li>
            <li><h4>2010-09至2014-06，华南农业大学，本科，计算机科学与技术</h4></li>
        </ul>

        <p>&nbsp;</p>

        <h3>项目经验</h3>
        <ul class="nodot">
            <li>
                <h4 class="leftline">2015-05至今，Cloud Record System，音视频直播的云端录制系统</h4>
                <h5>项目描述：</h5>
                <h4>实现一个分布式、高可用、高质量的流媒体云端录制系统，用于支持公司的多种直播业务。集群现阶段可提供5000+同时直播录制的业务量支持</h4>
                <h5>项目职责：</h5>
                <h4>对旧录制系统bug修复，已经基本稳定并对旧业务提供录制</h4>
                <h4>录制系统重构，设计整体框架和实现细节，综合运用RabbitMQ、Redis等中间件实现系统的高可用性，并兼容旧录制接口</h4>
                <h4>完成录制系统的performer模块：接收录制请求，抓取视频流，上传视频流，生成录制分片信息并发送给后继模块等逻辑</h4>
                <h4>完成录制系统管理模块，包括录制删除接口，录制失败率统计等</h4>
                
                <h4>&nbsp;</h4>
            </li>
            <li>
                <h4 class="leftline">2011-05至今，Ch2R，中文智能手机导购对话系统</h4>
                <h5>项目描述：</h5>
                <h4>项目综合了词法及句法分析、语义分析、机器学习和逻辑推理等方法和技术来实现智能和专业的网上导购系统。系统主要采用ASP.NET（C#）进行开发，句型分析部分用到python语言进行开发,词法和句法分析采用了新浪分词和斯坦福大学句法分析工具包（Stanford-Parser）</h4>
                <h5>项目职责：</h5>
                <h4>项目负责人，系统框架设计，系统原型的编码与测试</h4>
                <h4>对话管理研究与实现</h4>
                <h4>论文撰写</h4>

                <h4>&nbsp;</h4>
            </li>
            <li>
                <h4 class="leftline">2015-01至2015-05，RTMP Server，支持RTMP协议的流媒体服务器代理</h4>
                <h5>项目描述：</h5>
                <h4>实现一个支持RTMP等多种协议的流媒体服务器，支持RTMP协议转YY协议，用于支持公司的直播业务。</h4>
                <h5>项目职责：</h5>
                <h4>实现鉴权、获取媒体前端、转发媒体流等逻辑</h4>
                <h4>实现admin模块，支持不停机更改日志级别，上报关键指标数据，offline和online状态切换等功能</h4>
                <h4>采用golang开发了一个可视化的Web管理界面</h4>
                <h4>采用logstash过滤日志并上报到rabbitmq</h4>

                <h4>&nbsp;</h4>
            </li>
            <li>
                <h4 class="leftline">2014-05至2015-01，Cloud Table，分布式高可用、跨IDC强一致性的列存储系统</h4>
                <h5>项目描述：</h5>
                <h4>实现一个分布式、高性能、高可用、支持水平扩展、支持跨IDC强一致性的存储系统，兼容HBase的常用接口，提供CAS轻量级事务支持。集群性能单tablet达1.5W+ IOPS，单机达15W+ IOPS，已上线并有业务接入</h4>
                <h5>项目职责：</h5>
                <h4>分布式系统的学习和前期调研，学习BigTable，HBase、Cassandra、OceanBase、Zookeeper、Raft、MQ、LevelDB等分布式技术并参与构架讨论</h4>
                <h4>完成系统的client和filter的等功能，本系统为重客户端系统</h4>
                <h4>开发一个可视化的Web管理界面，支持建表、CURD等操作以及状态监控</h4>

                <h4>&nbsp;</h4>
            </li>
            <li>
                <h4 class="leftline">2013-03至2015-06，云智慧校园、扶贫电商、e村e品等创业项目</h4>
                <h5>业务描述：</h5>
                <h4>大学生创业项目，推动校园信息化建设以及智能化办公，企业网站系统开发，提供优质农产品的在线销售和导购平台</h4>
                <h5>主要项目：</h5>
                <h4>e村e品农产品导购平台（http://ecepbuy.com/）</h4>
                <h4>绿稻人农产品电商（http://gzdcr.com/）</h4>
                <h4>华南农业大学林学院教职工管理系统（http://teacher.scaunet.com/）</h4>
                <h4>华南农业大学辅导员管理系统（http://counselor.scaunet.com/）</h4>
                <h4>华南农业大学体育教学研究部（http://xy.scau.edu.cn/sportps/scausport/）</h4>
                <h4>华南农业大学青年志愿者服务中心（http://volunteer.scaunet.com/）</h4>
                <h4>东莞雅迪勤压缩机制造有限公司官网（http://www.adekom.com.hk/）</h4>
            </li>
        </ul>

        <p>&nbsp;</p>

        <h3>论文 & 专利 & 软件著作权 & 奖项</h3>
        <ul>
            <li>
                <h4>Peijie Huang, <strong>Xianmao Lin</strong>, Zeqi Lian, De Yang, Xiaoling Tang, Li Huang, Qiang Huang, Xiupeng Wu, Guisheng Wu and Xinrui Zhang. Ch2R: A Chinese Chatter Robot for Online Shopping Guide. In Proceeding of the 3rd CIPS-SIGHAN Joint Conference on Chinese Language Processing (CLP-2014)</h4>
            </li>
            <li>
                <h4><strong>林仙茂</strong>,黄沛杰,杨德,吴秀鹏,黄强. 中文手机导购对话系统中的语义信息提取. 现代计算机. 2014年</h4>
            </li>
            <li>
                <h4><strong>林仙茂</strong>,王颖祺. 一种独立品牌电子商务的轻量级设计. 科技研究. 2014年</h4>
            </li>
            <li>
                <h4>一种通用网站的后台处理方法及系统（专利号：201310188991.6，第一发明作者）</h4>
            </li>
            <li>
                <h4>中文智能手机导购对话系统 V1.0（登记号：2014SR042012，第一作者）</h4>
            </li>
            <li>
                <h4>2014 “创青春”全国大学生创业计划类组的金奖</h4>
            </li>
            <li>
                <h4>2013 “中国好梦想-华南智慧杯”青年创业大奖赛电子商务组决赛二等奖</h4>
            </li>
            <li>
                <h4>2013 第十二届“挑战杯”广东大学生课外学术科技作品竞赛 “基于集成智能的中文导购机器人的研究与应用” 第一作者三等奖</h4>
            </li>
            <li>
                <h4>2012 第十届广东省ACM程序设计竞赛（GDCPC2012）三等奖</h4>
            </li>
            <li>
                <h4>2011 第九届广东省ACM程序设计竞赛（GDCPC2011）三等奖</h4>
            </li>
            <li>
                <h4>2012 “丁颖杯”大学生科技作品竞赛自然科学类论文 “中文智能导购机器人” 第一作者决赛一等奖</h4>
            </li>
        </ul>

        <p>&nbsp;</p>

        <h3>学术活动 & 社会实践</h3>
        <ul>
            <li>
                <h4>2015-07-29至2015-07-31，ACL-IJCNLP 2015 SIGHAN Workshop（北京）</h4>
            </li>
            <li>
                <h4>2013-11-15至2013-11-17，中国计算机学会《学科前沿讲习班》第四十六期(CCF ADL 46):面向大数据的自然语言处理与机器学习</h4>
            </li>
            <li>
                <h4>2013-07-30至2013-07-30，广东省计算机协会“广东科协论坛”第五十五期:大数据报告会</h4>
            </li>
            <li>
                <h4>2012-11-03至2013-11-04，微软（中国）有限公司Windows8 应用开发马拉松</h4>
            </li>
            <li>
                <h4>2010-10至2012-11，华南农业大学信息学院团委学生会网络部部长</h4>
            </li>
            <li>
                <h4>2012-03至2012-05，华南农业大学第一届网页设计比赛项目组成员&评委</h4>
            </li>
        </ul>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</body>
</html>
