USE [XMDB]
GO
/****** Object:  Table [dbo].[Writings]    Script Date: 03/10/2015 00:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Posted] [datetime] NOT NULL,
	[Archives] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Like] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Writings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Writings] ON
INSERT [dbo].[Writings] ([Id], [Posted], [Archives], [Title], [Url], [Status], [Like]) VALUES (1, CAST(0x0000A22301471F5C AS DateTime), N'临摹', N'临王羲之《快雪时晴》帖', N'~/Upload/Writing/day_130810/201308100751019787.jpg', 1, 0)
INSERT [dbo].[Writings] ([Id], [Posted], [Archives], [Title], [Url], [Status], [Like]) VALUES (2, CAST(0x0000A22300D8A6C1 AS DateTime), N'创作', N'《天道酬勤》', N'~/Upload/Writing/day_130823/201308230108486149.jpg', 1, 0)
INSERT [dbo].[Writings] ([Id], [Posted], [Archives], [Title], [Url], [Status], [Like]) VALUES (3, CAST(0x0000A22300D90823 AS DateTime), N'创作', N'流觞曲水', N'~/Upload/Writing/day_130823/201308230110118126.jpg', 1, 0)
SET IDENTITY_INSERT [dbo].[Writings] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 03/10/2015 00:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Name], [Password]) VALUES (1, N'xm', N'htJ+3ezA5GJjMG9dE8eynoLQ/OIk56E1QX/byCBpCs0=')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Simples]    Script Date: 03/10/2015 00:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simples](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Simples] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Simples] ON
INSERT [dbo].[Simples] ([Id], [Title], [Content]) VALUES (2, N'关于仙茂bak', N'<p>林仙茂</p><p>男</p><p>未婚</p>')
SET IDENTITY_INSERT [dbo].[Simples] OFF
/****** Object:  Table [dbo].[Logs]    Script Date: 03/10/2015 00:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ip] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 03/10/2015 00:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Posted] [datetime] NOT NULL,
	[Archives] [nvarchar](max) NOT NULL,
	[Tag] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Abstract] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Read] [int] NOT NULL,
	[Like] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articles] ON
INSERT [dbo].[Articles] ([Id], [Posted], [Archives], [Tag], [Title], [Abstract], [Content], [Status], [Read], [Like]) VALUES (2, CAST(0x0000A21300C886E2 AS DateTime), N'整理与备忘', N'专业名词', N'自然语言处理常用专业名词整理', N'看论文的时候，特别是英文论文，经常出现一堆专业名词，如果每次都去查一遍，很显然是浪费时间，因此作一下整理。', N'Sequence labeling: 序列标注', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Articles] OFF
